

/* 
DESIGN SETTINGS

FONT-


--- 01 TYPOGRAPHY SYSTEM ---

- FONT SIZE SYSTEM (PX)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- FONT WEIGHTS:
Default: 400;
medium 500
semi-bold 600
bold700

- LINE HEIGHTS:
Default: 1;
1.05
1.6
paragraph default: 1.6


--- 02 COLORS ---

PRIMARY: #0768ff (doger blue)

E67E22

- TINTS: #fdf2e9;

- SHADES: #CF711F;

- ACCENTS: 

- GREYS:
#555 #333


--- 03 SHADOWS :-moz-ui-invalid

--- 04 BORDER RADIUS --- 

--- 05 WHITESPACE --- 

- 06 SPACING SYSTEM (PX)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 /80 /96 / 128


-- 07 BORDER RADIUS --   
DEFAULT: 9PX;
does not use REM as i don't want to scale this part of the build...


NOTE: IMAGES TAKEN FROM UNSPLASH.COM / UIFACES.CO 

*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Roboto:ital,wght@0,100;0,300;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,400;0,600;0,700;1,400&display=swap');

*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

/* font-size 62.5% (gives 10px(10px / 16px = 0.625 = 62.5%) - allows me to set REM correctly for my project */
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Rubik', sans-serif;
    line-height: 1.7;
    font-weight: 400;
    color: #17383b; 
    background-color: #98dbc6;
}

.main-wrapper {
    margin: 0 auto;
    max-width: 1200px;
    background-color: #98dbc6;
}

.header {
    padding: 3rem;
    text-align: center;
}

.main-img {
    width: 20rem;
    max-width: 100%;
}

.main-header {
    margin-top: -1.5rem;
    font-size: 2.5rem;
}

.bio {
    font-size: 2rem;
}

.link-item {
    
    border-style: none;
    border-radius: 1.5rem;
    margin: 3rem 2rem;
    padding: 2.5rem;
    background-color: #17383b;
    font-size: 3rem;
    text-align: center;
    color: #fff;
    cursor: pointer;
    box-shadow: 6px 13px 24px -4px rgba(0, 0, 0, 0.5);
-webkit-box-shadow: 6px 13px 24px -4px rgba(0, 0, 0, 0.5);
}

.link-item:hover{
    background-color:#2f4c4e;
    transition: .4s ease-in-out;
    color: #fff;
    
}

.link-tag {
    color: white;
    text-decoration: none;
}


.quote-day {
    font-size: 2.5rem;
    text-align: center;
    padding: 3rem;
}

.footer {
    margin-top: 3rem;
    font-size: 1.5rem;
    text-align: center;
}

.icons {
    display: flex;
    justify-content: center;
    gap: 2rem;
    cursor: pointer;
}

.icon-img-1 {
    width: 4rem;
    max-width: 100%;
}

.icon-img-2 {
    width: 5.5rem;
    max-width: 100%;
}

.footer p {
    font-size: 1.7rem;
}